@page "/add"
@using Domain
@rendermode InteractiveServer

<PageTitle>Новое отправление</PageTitle>

<h1>Добавить отправление</h1>

<SfDataForm ID="MyForm"
            Model="@CargoModel"
            Width="50%">
            
    <FormValidator>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </FormValidator>

    <InputFile Changed="@OnChanged" />
    
    <FormItems>
        <FormItem Field="@nameof(CargoModel.DeparturePoint)" Placeholder="e.g. Andrew Fuller" LabelText="Name on card" ></FormItem>
        <FormItem Field="@nameof(CargoModel.Destination)" LabelText="Card Number" >
        </FormItem>
    </FormItems>

</SfDataForm>

@code {
    Task OnChanged( InputFileChangeEventArgs e )
    {
        return Task.CompletedTask;
    }

    Cargo CargoModel = new Cargo();
}