@page "/"

<PageTitle>Главная</PageTitle>

<h1>Вы вошли в систему</h1>

<p style="margin-bottom: 15px">Данное приложение является компьютерной версией трекинга грузов. Последние изменения:</p>

<Divider />

<div style="margin-bottom: 15px">
    <SfCard>
        <CardHeader Title="Груз получен перевозчиком" SubTitle="Груз | Март 28, 2024" />
        <CardContent Content="Some information..." />
    </SfCard> 
</div>

<div style="margin-bottom: 15px">
    <SfCard>
        <CardHeader Title="Груз поступил в порт" SubTitle="Груз | Март 15, 2024" />
        <CardContent Content="Some information..." />
    </SfCard> 
</div>

<div style="margin-bottom: 15px">
    <SfCard>
        <CardHeader Title="Груз получен перевозчиком" SubTitle="Груз | Март 15, 2024" />
        <CardContent Content="Some information..." />
    </SfCard> 
</div>


